#quiz-bar {

  height: 25vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quiz-bar span {

  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}

.header {
  margin: 15px
  font-size: 29px
}

body {
  background: #01ED87
}

#quiz-summary-container {
  width: 450px;
	height: 380px;
  border: grey solid 1px;
	position: absolute;
	top: 5rem;
	bottom: 0;
	left: 0;
	right: 500px;
	margin: auto;
}

#start-quiz-btn {
  width: auto;
  margin-left: 10.6rem
}

#table {
  width: 200px;
  height: 100%;
  border: grey solid 1px;
  margin-left: 900px;
  margin-top: 50px;

}

#table li {
  white-space: nowrap;
  display:inline-block
}

#score-entries {
  display:inline-block
}

#quiz-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#quiz-info img {
  max-width: 75vw;
  max-height: 25vw;
}

#leaderboard-header {
  font-size: 25px;
}

.card {
  max-width:100%;
  max-height:100%;
  text-align: left;
  border: grey solid 1px;
  box-shadow: 3px 4px grey;
  display: inline-flex

}

.category-image {
  width: 20rem;
  object-fit: contain;
}

.start-quiz {
  height:20px;
  width:100px;
  margin: -20px -50px;
  position:relative;
  top:50%;
  left:50%;
}


h1 {
  height: 10em;
   display: flex;
   justify-content: center;
}

h2 {
  justify-content: center;
  height: 10em;
 display: flex;
}

body {
  margin: 0;
}
